.shoppingbag-container {
    margin: 0 24px;
    margin-top: 100px;
}


.shoppingbag-block {

}


.shopping-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    max-width: 375px;
    height: 144px;
    border-radius: 20px;
    box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.12);
    background: rgb(255, 255, 255);

    margin-bottom: 40px;
}
.img-item {
    width: 100px;
    height: 100px;
   
    margin-left: 20px;
}
.info-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
.title {
    color: rgb(32, 26, 37);
    font-size: 16px;
    font-weight: 200;
    line-height: 18px;
    text-align: left;
    margin: 0 8px;
    margin-bottom: 10px;
}
.price {
    color: rgb(195, 198, 201);
    font-size: 12px;
    font-weight: 200;
    line-height: 15px;
    text-align: left;
    margin: 0 8px;
    margin-bottom: 10px;
}
.option {
    color: rgb(32, 26, 37);
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;
    text-align: left;
    margin: 0 8px;
    margin-bottom: 10px;
}
.liked-item{
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 24px;
    background: rgb(238, 241, 244);
}

.add-item {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    align-items: center;
   
}
.num-item{
    color: rgb(195, 198, 201);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    text-transform: uppercase;

    margin: 0 15px;
}
.minus-item {
    width: 30px;
}
.plus-item {
    width: 30px;
}