body{
    margin: 0;
    font-family: "Roboto";
    background-color: #fff;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.img-block{
    user-select: none;
    border-radius: 24px;
    height: 500px;
    width: 100%;

}
.img-block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.pointsB{
    position: relative;
    bottom: 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.point{
    background-color: rgb(164, 164, 164);
    width: 13px;
    height: 13px;
    border-radius: 24px;
    margin: 0 2px;
}
.point-select{
    background-color: grey;
}
.info-block{
    border-radius: 16px;
    background-color: #fff;
}
.title{
    font-size: 18px;
    margin: 0 15px;
    color: rgb(89, 89, 89);
}
.discription{
    
    margin: 0 15px;
    margin-top: 2em;
    color: rgb(153, 153, 153);
}
.option{
    margin: 0 15px;
}
.action{
    position: absolute;
    bottom: 3em;
    
    
}

.action button{
    position: relative;
    left: 15px;
    width: 6em;
    height: 3em;
    background: rgb(153, 153, 153);
    border-radius: 40px;
    border: none;
    color: #fff;
}
