body{
    margin: 0;
    font-family: "Roboto";
    background-color: #fff;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.img-block{
    height: 500px;
    width: 100%;
}
.img-block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info-block{
    border-radius: 16px;
    background-color: #fff;
}
.title{
    font-size: 18px;
    margin: 0 15px;
    color: rgb(89, 89, 89);
}
.discription{
    
    margin: 0 15px;
    margin-top: 2em;
    color: rgb(153, 153, 153);
}
.option{
    margin: 0 15px;
}
.action{
    position: absolute;
    bottom: 3em;
    
    
}

.action button{
    position: relative;
    left: 15px;
    width: 6em;
    height: 3em;
    background: rgb(153, 153, 153);
    border-radius: 40px;
    border: none;
    color: #fff;
}
