html{
    font-family: "Cabin", sans-serif;
    margin: 0;
    background-color: var(--tg-theme-bg-color);
}


.container{
    width: 100%;

}
.content{
    margin: 10px auto;
    width: 360px;
  /*  border-color: blueviolet;
    border-style: dotted;*/
}
.titre_container{
    color: var(--tg-theme-text-color);
    font-family: "Cabin", sans-serif;
    text-align: center;
}

.block_products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.product_div{
    width: 80px;
    height: 120px;
    background-color:var(--tg-theme-section-bg-color); /*var(--tg-theme-section-bg-color)*/
    border-radius: 6px;
    margin:10px 15px;
    text-align: center;
}
.title-product{
    color: var(--tg-theme-text-color);
}

.img-product{
    width: 80px;
    height: 80px;
    background-color: rgb(255, 54, 54); 
    border-radius: 6px;
}














