.Top_app_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 4px;
  width: 412px;
  height: 64px;

  .leadingicon {
    display: flex;
    flex-direction: column;
    width: 48px;
    height: 48px;
    margin-right: 4px;
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 40px;
      height: 40px;
      border-radius: 100px;
      .statelayer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px 8px;
        width: 40px;
        height: 40px;
        .icon {
          width: 24px;
          height: 24px;
          .icon {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
  .headline {
    color: #1d1b20;
    font-family: Roboto;
    font-size: 22px;
    font-weight: normal;
    line-height: 28px;
    margin-right: 4px;
    
  }
  .trailingicon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 48px;
    height: 48px;
    .trailingicon_3 {
      display: flex;
      flex-direction: column;
      width: 48px;
      height: 48px;
      .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        .icon {
          width: 4px;
          height: 16px;
        }
      }
    }
  }
}
.Filter_chips_carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 8px;
  width: 412px;
  height: 48px;

  .Filter_chip_01 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 67px;
    height: 32px;
    border: 1px solid #79747e;
    border-radius: 8px;
    margin-right: 4px;
    .statelayer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 6px 16px;
      width: 67px;
      height: 32px;
      .labeltext {
        color: #4f4545;
        font-family: Roboto;
        font-size: 14px;
        font-weight: medium;
        text-align: center;
        line-height: 20px;
        
      }
    }
  }
  .Filter_chip_02 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85px;
    height: 32px;
    background: #e8def8;
    border-radius: 8px;
    margin-right: 4px;
    .statelayer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 6px 8px;
      width: 85px;
      height: 32px;
      .Selected_icon {
        width: 18px;
        height: 18px;
        margin-right: 8px;
        .icon {
          width: 12px;
          height: 9px;
        }
      }
      .labeltext {
        color: #1d192b;
        font-family: Roboto;
        font-size: 14px;
        font-weight: medium;
        text-align: center;
        line-height: 20px;
        
      }
    }
  }
  .Filter_chip_03 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 67px;
    height: 32px;
    border: 1px solid #79747e;
    border-radius: 8px;
    margin-right: 4px;
    .statelayer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 6px 16px;
      width: 67px;
      height: 32px;
    }
  }
}
.Filter_chip_04 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 67px;
  height: 32px;
  border: 1px solid #79747e;
  border-radius: 8px;
  margin-right: 4px;
  .statelayer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 16px;
    width: 67px;
    height: 32px;
  }
}
.Filter_chip_05 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 67px;
  height: 32px;
  border: 1px solid #79747e;
  border-radius: 8px;
  margin-right: 4px;
  .statelayer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 16px;
    width: 67px;
    height: 32px;
  }
}
.Filter_chip_06 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 67px;
  height: 32px;
  border: 1px solid #79747e;
  border-radius: 8px;
  margin-right: 4px;
  .statelayer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 16px;
    width: 67px;
    height: 32px;
  }
}
.Filter_chip_07 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 67px;
  height: 32px;
  border: 1px solid #79747e;
  border-radius: 8px;
  margin-right: 4px;
  .statelayer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 16px;
    width: 67px;
    height: 32px;
  }
}
.Filter_chip_08 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 67px;
  height: 32px;
  border: 1px solid #79747e;
  border-radius: 8px;
  margin-right: 4px;
  .statelayer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 16px;
    width: 67px;
    height: 32px;
  }
}
.Filter_chip_09 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 67px;
  height: 32px;
  border: 1px solid #79747e;
  border-radius: 8px;
  margin-right: 4px;
  .statelayer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 16px;
    width: 67px;
    height: 32px;
  }
}
.Filter_chip_10 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 67px;
  height: 32px;
  border: 1px solid #79747e;
  border-radius: 8px;
  .statelayer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 16px;
    width: 67px;
    height: 32px;
  }
}
.Sorting_controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 16px;
  width: 412px;
  height: 72px;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0;
    width: 388px;
    height: 56px;
    .Button_1 {
      display: flex;
      flex-direction: column;
      width: 89px;
      height: 40px;
      border-radius: 100px;
      margin-right: 144px;
      .statelayer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 12px;
        width: 89px;
        height: 40px;
        .icon {
          width: 18px;
          height: 18px;
          margin-right: 8px;
          .icon {
            width: 12px;
            height: 15px;
          }
        }
        .labeltext {
          color: #65558f;
          font-family: Roboto;
          font-size: 14px;
          font-weight: medium;
          text-align: center;
          line-height: 20px;
          
        }
      }
    }
    .Button_2 {
      display: flex;
      flex-direction: column;
      width: 40px;
      height: 40px;
      .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        .icon {
          width: 18px;
          height: 10px;
        }
      }
    }
  }
}
.Card_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 16px;
  width: 412px;
  height: 696px;
  .Card_01 {
    display: flex;
    flex-direction: column;
    width: 121px;
    height: 160px;
    margin-right: 8px;
    .Image {
      width: 121px;
      height: 120px;
      border-radius: 16px;
      margin-bottom: 4px;
    }
    .Content {
      display: flex;
      flex-direction: column;
      width: 120px;
      height: 36px;
      .Title {
        color: #1d1b20;
        font-family: Roboto;
        font-size: 14px;
        font-weight: medium;
        line-height: 20px;
        
      }
      .Date {
        color: #49454f;
        font-family: Roboto;
        font-size: 12px;
        font-weight: normal;
        line-height: 16px;
        
      }
    }
  }
  .Card_02 {
    display: flex;
    flex-direction: column;
    width: 121px;
    height: 160px;
    margin-right: 8px;
    .Image {
      width: 121px;
      height: 120px;
      border-radius: 16px;
      margin-bottom: 4px;
    }
    .Content {
      display: flex;
      flex-direction: column;
      width: 120px;
      height: 36px;
    }
  }
}
.Card_03 {
  display: flex;
  flex-direction: column;
  width: 121px;
  height: 160px;
  margin-right: 8px;
  .Image {
    width: 121px;
    height: 120px;
    border-radius: 16px;
    margin-bottom: 4px;
  }
  .Content {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 36px;
  }
}
.Card_04 {
  display: flex;
  flex-direction: column;
  width: 121px;
  height: 160px;
  margin-right: 8px;
  .Image {
    width: 121px;
    height: 120px;
    border-radius: 16px;
    margin-bottom: 4px;
  }
  .Content {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 36px;
  }
}
.Card_05 {
  display: flex;
  flex-direction: column;
  width: 121px;
  height: 160px;
  margin-right: 8px;
  .Image {
    width: 121px;
    height: 120px;
    border-radius: 16px;
    margin-bottom: 4px;
  }
  .Content {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 36px;
  }
}
.Card_06 {
  display: flex;
  flex-direction: column;
  width: 121px;
  height: 160px;
  margin-right: 8px;
  .Image {
    width: 121px;
    height: 120px;
    border-radius: 16px;
    margin-bottom: 4px;
  }
  .Content {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 36px;
  }
}
.Card_07 {
  display: flex;
  flex-direction: column;
  width: 121px;
  height: 160px;
  margin-right: 8px;
  .Image {
    width: 121px;
    height: 120px;
    border-radius: 16px;
    margin-bottom: 4px;
  }
  .Content {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 36px;
  }
}
.Card_08 {
  display: flex;
  flex-direction: column;
  width: 121px;
  height: 160px;
  margin-right: 8px;
  .Image {
    width: 121px;
    height: 120px;
    border-radius: 16px;
    margin-bottom: 4px;
  }
  .Content {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 36px;
  }
}
.Card_09 {
  display: flex;
  flex-direction: column;
  width: 121px;
  height: 160px;
  margin-right: 8px;
  .Image {
    width: 121px;
    height: 120px;
    border-radius: 16px;
    margin-bottom: 4px;
  }
  .Content {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 36px;
  }
}
.Card_10 {
  display: flex;
  flex-direction: column;
  width: 121px;
  height: 160px;
  margin-right: 8px;
  .Image {
    width: 121px;
    height: 120px;
    border-radius: 16px;
    margin-bottom: 4px;
  }
  .Content {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 36px;
  }
}
.Card_11 {
  display: flex;
  flex-direction: column;
  width: 121px;
  height: 160px;
  margin-right: 8px;
  .Image {
    width: 121px;
    height: 120px;
    border-radius: 16px;
    margin-bottom: 4px;
  }
  .Content {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 36px;
  }
}
.Card_12 {
  display: flex;
  flex-direction: column;
  width: 121px;
  height: 160px;
  .Image {
    width: 121px;
    height: 120px;
    border-radius: 16px;
    margin-bottom: 4px;
  }
  .Content {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 36px;
  }
}
.Navigation_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 8px;
  width: 412px;
  height: 80px;
  background: #f3edf7;
  .Nav_item_1 {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    width: 126px;
    height: 80px;
    margin-right: 8px;
    .iconcontainer {
      display: flex;
      flex-direction: column;
      width: 64px;
      height: 32px;
      background: #e8def8;
      border-radius: 16px;
      margin-bottom: 4px;
      .statelayer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 4px 20px;
        width: 64px;
        height: 32px;
        .icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .labeltext {
    color: #1d1b20;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    line-height: 16px;
    
  }
}
.Nav_item_2 {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  width: 126px;
  height: 80px;
  margin-right: 8px;
  .iconcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-bottom: 4px;
  }
}
.labeltext {
  color: #49454f;
  font-family: Roboto;
  font-size: 12px;
  font-weight: medium;
  text-align: center;
  line-height: 16px;
  
}
.Nav_item_3 {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  width: 126px;
  height: 80px;
  .iconcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-bottom: 4px;
  }
}
.labeltext {
  color: #49454f;
  font-family: Roboto;
  font-size: 12px;
  font-weight: medium;
  text-align: center;
  line-height: 16px;
  
}
