body{
    margin: 0;
}

.container{
    width: 360px;
    height: 800px;
    background-color: rgb(214, 214, 214);
}

.titre_container{}

.block_products{
    display: flex;
}
.product_div{
    width: 60px;
    height: 60px;
    background-color: rgb(65, 65, 65);
    border-radius: 6px;
}
















